@media screen and (max-width: 765px) {
	.project .projectTitle {
		text-align: center;
	}	
}

@media screen and (max-width: 1055px) {
	.siteTitle h1 {
		font-size: 3.5em;
	}
	
	.siteTitle p {
		font-size: 1em;
	}
	
	.arrow {
		font-size: 5em;
		top: 90%;
	}
	
	.skill {
		width: 260px;
	}

	.footerMenu {
		display: none;
	}
	
	.footerTitle {
		top: 35%;
	}

	.footerTitle h1 {
		font-size: 200%;
	}

	.footerLinks {
		position: relative;
		left: 50%;
		top: 15%;
		transform: translateX(-50%);
	}
}

@media screen and (max-width: 580px) {
	.projectDescription {
		max-width: 350px;
	}
	
	.coursework ul {
		padding-left: 2px;
	}
	
	.arrow {
			top: 85%; 
		}
	
}

@media screen and (max-width: 395px) {
	.footerLinks {
		position: relative;
		left: 50%;
		top: 17.5%;
		transform: translateX(-50%);
	}
	
	.projectDescription {
		width: 250px;
	}
}