/* Allows Elements to touch the edge of the page */
html, body {margin:0; padding:0;}

/* Navagation Bar */
div#navagationBar ul {list-style-type: none; margin: 0; padding: 5px; padding-left: 0; overflow: hidden;}
div#navagationBar li {float: left;}
div#navagationBar li a {display: block; color: white; text-align: center; padding: 21px; text-decoration: none;}
div#navagationBar li a:hover {color: #0ce425;}





/* Sections */

	/* About Me */
	.aboutMe {
		background-color: #FFFFFF; 
		font-family: helvetica;
	}
	.aboutMe h3 {
		color: #500000; 
		text-align: center; 
		font-size: 150%;
		margin: 10px;
		margin-top: 25px;
	}

	/* Darker Box */
	.darkBox {
		background-color: #EAEAEA; 
		font-family: helvetica;
	}
	.darkBox h3 {
		color: #500000; 
		text-align: center; 
		font-size: 150%;
	}
	
	
/* Special Case ID's */

	/*
	div#skills li:hover {background-color: #DDDDDD; text-align: left; width: 20%; margin-left: 40%; padding-left: 1%; font-size: 110%;}*/
	
	
	
.dot {
	height: 10px;
    width: 10px;
    position: relative;
    top: 6px;
    float: right;
    margin-left: 5px;
    vertical-align: middle;
    background-color: red;
    border-radius: 25%;
    display: inline-block;
}

.skill {
	list-style-type: none;
}

