/* Allows Elements to touch the edge of the page */
html, body {margin:0; padding:0;}

/* Navagation Bar */
div#navagationBar ul {list-style-type: none; margin: 0; padding: 5px; padding-left: 0; overflow: hidden;}
div#navagationBar li {float: left;}
div#navagationBar li a {display: block; color: white; text-align: center; padding: 21px; text-decoration: none;}
div#navagationBar li a:hover {color: #0ce425;}





/* Alternating color boxes*/

	/* Ligher box */
	.lightBox{background-color: #FFFFFF; font-family: helvetica;}
	.lightBox h3 {color: #500000; text-align: center; font-size: 150%;}
	.lightBox p {padding-left: 35%; padding-right: 35%; text-indent: 20px;}

	/* Darker Box */
	.darkBox{background-color: #EAEAEA; font-family: helvetica;}
	.darkBox h3 {color: #500000; text-align: center; font-size: 150%;}




